* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    h1 {
        font-size: 6vw;
        color: white;
        text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 0px 2px rgba(52, 251, 12, 1);
    }

    #three-container{
      height: 100vh;
      width: 100vw;
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
   }   
}

section.loading {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        color: white;
        font-size: 4vw;
    }

    .spinner {
        position: relative;
        width: 19px;
        height: 19px;
        margin: 80px;
     }
     
     .spinner div {
        position: absolute;
        width: 50%;
        height: 150%;
        background: white;
        box-shadow: 2px 2px 2px rgba(251, 12, 12,1), 0px -1px 2px rgba(12, 79, 251,.5),-2px 0px 2px rgba(52, 251, 12, 1);
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
        animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
     }
     
     .spinner div:nth-child(1) {
        --delay: 0.1;
        --rotation: 36;
        --translation: 150;
     }
     
     .spinner div:nth-child(2) {
        --delay: 0.2;
        --rotation: 72;
        --translation: 150;
     }
     
     .spinner div:nth-child(3) {
        --delay: 0.3;
        --rotation: 108;
        --translation: 150;
     }
     
     .spinner div:nth-child(4) {
        --delay: 0.4;
        --rotation: 144;
        --translation: 150;
     }
     
     .spinner div:nth-child(5) {
        --delay: 0.5;
        --rotation: 180;
        --translation: 150;
     }
     
     .spinner div:nth-child(6) {
        --delay: 0.6;
        --rotation: 216;
        --translation: 150;
     }
     
     .spinner div:nth-child(7) {
        --delay: 0.7;
        --rotation: 252;
        --translation: 150;
     }
     
     .spinner div:nth-child(8) {
        --delay: 0.8;
        --rotation: 288;
        --translation: 150;
     }
     
     .spinner div:nth-child(9) {
        --delay: 0.9;
        --rotation: 324;
        --translation: 150;
     }
     
     .spinner div:nth-child(10) {
        --delay: 1;
        --rotation: 360;
        --translation: 150;
     }
     
     @keyframes spinner-fzua35 {
        0%, 10%, 20%, 30%, 50%, 60%, 70%, 80%, 90%, 100% {
           transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
        }
     
        50% {
           transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1.5%));
        }
     }
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    h1 {
        font-size: 4vw;
        
        color: white;
        text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 0px 2px rgba(52, 251, 12, 1);
        background: rgba(0, 0, 0, 0.4);
        border: 1px solid white;
        padding: 10px;


    }
    

}

section.images {
   width: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;


   div.shader {
      margin: 100px 0;
      position: relative;

      img {
            width: 100%;
            max-width: 500px;
      }
   }
}



